<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orderArrived</title>
</head>
<body>
        <p>
            Hello,<b>{{username}}</b>.<br /><br/>
            Your order with id_order : <br>{{id_order}}</br> has been arrived.<br />
            So hopefully it's right next to you as you read this.<br/><br/>
            Thankyou for shopping on Ikiya.
        </p>
</body>
</html>