<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Canceled</title>
</head>
<body>
    <h1>Ikiya</h1>
    <p>
        Hi,<b>{{username}}</b>.
        Your order with order number : <b>{{id_order}}</b> has been canceled.<br/><br />
        Cancel message : <br/>
        {{message}}<br/><br/>
        Thankyou, Ikiya.
    </p>
</body>
</html>