<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order confirmed</title>
</head>

<body>
    <p>
        Hello,<b>{{username}}</b>.<br />
        your order with id_order : <b>{{id_order}}</b> has been confirmed and verified.<br />
        and your order are going to be shipped.<br /><br />
        Regards,Ikiya.
    </p>
</body>

</html>