<!DOCTYPE html>

<head>
</head>

<body>
    <div style='padding:20px;'>
        <h1 >Ikiya</h1>
            <p>
                Hi, <b>{{username}}</b>.<br />
                Your order with order number <b>{{id_order}}</b> confirmed.<br />
                We will processed your order.
            </p>
    </div>
</body>

</html>