<!DOCTYPE html>

<head>
</head>

<body>
    <div style='padding:20px;'>
        <h1>Ikiya</h1>
        <p>
            Hi, <b>{{username}}</b>.<br />
            checkout with order number <b>{{id_order}}</b> is confirmed.<br />
            We will check and processed your order.
        </p>
    </div>
</body>

</html>