<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>
    <meta charset="UTF-8" />
</head>
<style>
    * {
        font-family: Arial, Helvetica, sans-serif
    }

    #app {
        background-color: #0057a4;
        height: 80px;
        display: grid;
        place-items: center;
    }

    #app h1 {
        color: #f3d213;
        display: flex;
    }

    #app span {
        font-size: 15px;
    }

    #text-container {
        padding: 20px;
        max-width: 350px
    }

    #button-container {
        display: grid;
        place-items: center;
        margin: 30px 0 30px 0;
    }

    #button-container span {
        font-weight: bold;
        font-size: 20px
    }

    #optional a {
        color: #0368c1
    }

    #optional {
        font-size: 12px;
        opacity: 0.8;
    }
</style>

<body>
    <div id="app">
        <h1>
            IKIYA<span>®</span>
        </h1>
        <div id='text-container'>
            <p>
                Hi,{{username}}!<br /><br />
                You are receiving this email because we received a password reset request fot your account.<br />
                <br />
                here your confirmation code :

            <div id='button-container'>
                <b>
                    {{code}}
                </b>
            </div>
            <p>If you did not request a password reset, no further action is required.</p>

            <p id='optional'>
                You can also click the link below to go to the reset password page<br /><br />
                <a href='{{link}}'>
                    {{link}}
                </a>
            </p>
            </p>
        </div>
    </div>
</body>

</html>